.bg_color {
  background-color: #f6f5fc;
}

.yellow_color {
  color: rgb(255, 147, 31);
}

.border_color {
  color: #D3D3D3;
}

.secondary_color {
  color: #6c55f9;
}

.bg_secondary {
  background-color: #6c55f9;
}

.active {
  color: #6c55f9;
}

.shaded_color {
  color: #777;
}

.header_button,
.info {
  text-transform: capitalize;
  color: #777;
  background-color: transparent;
  border: 0.5px solid #D3D3D3;
  padding: 5px 20px;
}

.info,
.more_details {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.more_details {
  padding: 5px 15px;
}

.header_button {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.watch_video {
  border: none;
  text-transform: capitalize;
  padding: 5px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.watch_video i {
  padding: 10px 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.discover {
  padding: 5px 15px;
  border: 1px solid #6c55f9;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.change_lang {
  background-color: transparent;
  padding: 5px 20px;
  border: 1px solid #D3D3D3;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.fa-bars {
  display: none;
}
.special_heading {
  position: relative;
  margin-bottom: 70px;
}
.special_heading h5 {
  letter-spacing: 3px;
}
.special_heading::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 49%;
  width: 40px;
  height: 4px;
  background-color: #6c55f9;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.special_heading_left {
  margin-bottom: 50px;
  position: relative;
}
.special_heading_left h5 {
  letter-spacing: 3px;
}
.special_heading_left h2 {
  font-weight: 600;
}
.special_heading_left::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #6c55f9;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

a {
  text-decoration: none;
}

.navbar {
  width: calc(100% - 30px);
  box-shadow: 1px 1px 5px -2px #777;
}
.navbar .navigation {
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
}
.navbar .navbar-nav {
  display: flex;
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
}
.navbar .nav-link:hover {
  color: #6c55f9;
}
.navbar .fa-bars {
  cursor: pointer;
  transition: 3s;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
}

.home {
  padding-bottom: 150px;
  border-bottom: 1px solid #D3D3D3;
}
.home .content h1 {
  font-weight: 400;
}

.information {
  border-bottom: 1px solid #D3D3D3;
}
.information .content .infos .parag {
  margin-inline-start: 10px;
}
.information .content .infos .parag p {
  font-size: 0.8rem;
}

.about {
  padding-bottom: 150px;
}
.about .picture {
  width: 40%;
}
.about .content {
  width: 50%;
}
.about .content h2 {
  position: relative;
}
.about .content h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #6c55f9;
  height: 3px;
  width: 40px;
}
.about .revenue {
  padding-top: 200px;
}

.services {
  padding-bottom: 200px;
}
.services .content h2 {
  position: relative;
}
.services .content h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #6c55f9;
  height: 3px;
  width: 40px;
}

.comfort {
  padding-bottom: 100px;
  border-bottom: 1px solid #D3D3D3;
}
.comfort .row {
  margin-top: 100px;
}
.comfort .row .content p {
  font-size: 1.1rem;
}

.pricing {
  padding-top: 100px;
  padding-bottom: 100px;
}
.pricing .container .row .card {
  min-width: fit-content;
  border-radius: 10px;
}
.pricing .container .row .card .card-body h5 {
  letter-spacing: 3px;
}
.pricing .container .row .card .card-body p {
  font-weight: 500;
}
.pricing .container .row .card .card-body p span {
  font-size: 60px;
  position: relative;
}
.pricing .container .row .card .card-body p span::before {
  content: "$";
  position: absolute;
  top: 15px;
  left: -10px;
  font-size: 15px;
}

.news {
  padding: 100px 0;
}
.news .image img {
  width: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.news .slider {
  margin-top: 70px;
}
.news .slider .dot {
  background-color: #777;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
.news .slider .dot.active {
  background-color: #6c55f9;
}

.contact {
  padding: 100px 0;
  border-bottom: 1px solid #D3D3D3;
}
.contact ul li i {
  text-align: center;
  color: #6c55f9;
  border: 1px solid #D3D3D3;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.contact form {
  flex-direction: column;
}
.contact form input,
.contact form textarea {
  border: 1px solid #D3D3D3;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  outline: none;
}
.contact form input[type=submit] {
  width: fit-content;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.blog {
  padding: 100px 0;
}
.blog .card {
  border: none;
  box-shadow: 0px 2px 6px 0px #777;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.blog .card .card-body h5 {
  font-size: 0.9rem;
}
.blog .card .card-body h6 {
  font-size: 0.8rem;
}
.blog .card .card-body img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.blog .card .card-body p {
  font-size: 1.4rem;
}
.blog .card .card-body a i {
  font-size: 0.8rem;
}
.blog .card .active {
  margin-bottom: 111px;
}

.clients {
  padding: 100px 0;
}

footer {
  padding: 100px 0 60px 0;
}
footer .row h4 {
  color: #575757;
  font-weight: 700;
}
footer .row ul li {
  text-transform: capitalize;
  color: #777;
  margin-bottom: 15px;
}
footer .row input {
  border: 1px solid #D3D3D3;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
footer .row .socials i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.9333333333);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 991.5px) {
  .navbar .navbar-nav {
    display: none;
  }
  .navbar .navigation .fa-bars {
    display: block;
  }
  .navbar .navigation:hover .navbar-nav {
    margin-top: 50px;
    display: flex;
  }
  .navbar .navigation:hover .fa-bars {
    display: none;
  }
  .picture {
    display: none;
  }
  .home .content .buttons {
    justify-content: space-between;
  }
  .about .content {
    width: 100%;
  }
  .about .content img {
    display: none;
  }
  .pricing .card {
    margin-bottom: 20px;
  }
  .news .image {
    margin-bottom: 30px;
  }
  .contact .in_touch {
    margin-bottom: 50px;
  }
  .clients .container {
    flex-direction: column;
  }
  .clients .container .client {
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #D3D3D3;
  }
}
@media (max-width: 575.5px) {
  .about .revenue {
    flex-direction: column;
  }
}
@media (max-width: 399.5px) {
  .copyright .container {
    flex-direction: column;
  }
}
.to_top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #D3D3D3;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

nav .navbar-brand {
  direction: ltr;
  margin-left: 15px;
}
nav.about_us {
  width: 100%;
}

.wrapper {
  padding-bottom: 100px;
}
.wrapper .container {
  padding-top: 100px;
  padding-bottom: 100px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.about .about_buttons .more_details {
  border: none;
}

.about.arabic .content {
  width: 50%;
}
.about.arabic .content h2 {
  position: relative;
}
.about.arabic .content h2::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  background-color: #6c55f9;
  height: 3px;
  width: 40px;
}

footer h3 {
  direction: ltr;
  text-align: right;
}
footer .links .phone {
  direction: ltr;
  text-align: right;
}

.blog {
  border-bottom: 1px solid #D3D3D3;
}
.blog .buttons {
  margin-top: 50px;
}
.blog .buttons button {
  width: fit-content;
  background-color: transparent;
  color: #777;
  border: 1px solid #D3D3D3;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 5px 10px;
}
.blog .buttons button.active {
  background-color: #6c55f9;
  color: white;
}

html:lang(ar) {
  direction: rtl;
}

:root {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
