@import "./sass-utils/variables";
@import "./sass-utils/mixins";
@import "./sass-utils/helpers";

@import "./components/buttons";
@import "./components/dropdown";

@import "./sections/home";
@import "./sections/about_us";
@import "./sections/services";
@import "./sections/news";
@import "./sections/contact";


html:lang(ar) {
    direction: rtl;
}

:root {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    // border: 1px solid red;
}

body {
    margin: 0;
}