.bg_color {
    background-color: $background-color;
}

.yellow_color {
    color: $yellow-color;
}

.border_color {
    color: $border-color;
}

.secondary_color {
    color: $secondary-color;
}

.bg_secondary {
    background-color: $secondary-color;
}

.active {
    color: $secondary-color;
}

.shaded_color {
    color: $shaded-color;
}