@mixin dash-default {
    content: "";
    position: absolute;
    bottom: -10px;
    background-color: $secondary-color;
    height: 3px;
    width: 40px;
}

@mixin colored-dash {
    @include dash-default;
    left: 0;
}

@mixin arabic-colored-dash {
    @include dash-default;
    right: 0;
}