$shaded-color: #777;
$secondary-color: #6c55f9;
$border-color: #D3D3D3;

.secondary_color {
    color: $secondary-color;
}

.bg_secondary {
    background-color: $secondary-color;
}

.active {
    color: $secondary-color;
}

.shaded_color {
    color: $shaded-color;
}