.header_button,
.info {
    text-transform: capitalize;
    color: $shaded-color;
    background-color: transparent;
    border: .5px solid $border-color;
    padding: 5px 20px;
}

.info,
.more_details {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.more_details {
    padding: 5px 15px;
}

.header_button {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

}

.watch_video {
    text-transform: capitalize;
    padding: 5px 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    i {
        padding: 10px 12px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}